//colors
$gray-900: #0e0d0e;
$gray-800: #212224;
$gray-700: #3d3f42;
$gray-600: #5a5c5e;
$gray-500: #757778;
$gray-400: #9fa1a4;
$gray-300: #b8bbbf;
$gray-200: #d8d8d8;
$gray-100: #f5f5f5;

$green-900: #66cdaa;
$green-800: #75d2b3;
$green-700: #85d7bb;
$green-600: #94dcc4;
$green-500: #a3e1cc;
$green-400: #b3e6d5;
$green-300: #c2ebdd;
$green-200: #d1f0e6;
$green-100: #e0f5ee;

$yellow-900: #f5e325;
$yellow-800: #f6e63b;
$yellow-700: #f7e951;
$yellow-600: #f8eb66;
$yellow-500: #f9ee7c;
$yellow-400: #faf192;
$yellow-300: #fbf4a8;
$yellow-200: #fcf7be;

$blue-900: #004aad;
$new-yellow-900: #f2cc59;

@font-face {
  font-family: "sailors_condensedregular";
  src: url("./fonts/sailors_condensed-webfont.eot");
  src: url("./fonts/sailors_condensed-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/sailors_condensed-webfont.woff2") format("woff2"),
    url("./fonts/sailors_condensed-webfont.woff") format("woff"),
    url("./fonts/sailors_condensed-webfont.ttf") format("truetype"),
    url("./fonts/sailors_condensed-webfont.svg#sailors_condensedregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//fonts
$font-header: "sailors_condensedregular";
$font-main: "montserrat";
