@import "../../styles/variables.scss";

.close-drawer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 0 20px 0 0;
  height: 90px;

  &__title-container {
    display: flex;
    align-items: center;
  }

  &__title-text {
    color: $blue-900;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 2em;
    font-family: $font-header;
  }

  &__button {
    margin: 0;
    font-size: 30px;
    border: 0;
    color: $blue-900;
    background-color: #fff;
    height: 30px;

    &:hover {
      cursor: pointer;
      color: $new-yellow-900;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 20px;
  background-color: $blue-900;
  height: 100%;
  font-family: $font-header;

  &__item {
    &:hover {
      color: $new-yellow-900;
    }
  }

  a {
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
  }
}

.menu {
  z-index: 9003;
  display: flex;
  align-items: center;
  position: fixed;
  font-size: 60px;
  top: 15px;
  color: $blue-900;
  right: 30px;

  cursor: pointer;

  &:hover {
    color: $blue-900;
  }

  &__text {
    margin-right: 15px;
    font-size: 0.5em;
    font-family: $font-header;
  }
}

.header {
  z-index: 9002;
  display: flex;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid $gray-300;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;

  &--show {
    animation: header-show-animation 0.5s;
    opacity: 1;
  }

  &--hide {
    animation: header-hide-animation 0.5s;
    opacity: 0;
  }

  @keyframes header-show-animation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes header-hide-animation {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  &__logo {
    height: 60px;
  }

  &__text {
    margin-left: 60px;
  }

  a {
    color: $blue-900;
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  .close-drawer {
    height: 60px;
    &__button {
      padding-top: 0;
    }
  }
  .menu {
    top: 10px;
    font-size: 40px;
    right: 20px;
  }

  .header {
    height: 60px;

    &__logo {
      height: 40px;
    }

    &__text {
      font-size: 1em;
      margin-left: 25px;
    }
  }
}
