@import "../../styles/variables.scss";

.close-drawer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 10px;
  height: 90px;
  &__button {
    margin: 0;
    font-size: 30px;
    border: 0;
    color: $green-900;
    background-color: #fff;
    height: 30px;

    &:hover {
      cursor: pointer;
      color: $green-600;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.links {
  display: flex;
  font-family: "Istok Web", sans-serif;
  flex-direction: column;
  align-items: flex-start;
  padding-block-start: 30px;
  padding-inline-start: 20px;
  background-color: $gray-700;
  height: 100%;

  &__item {
    &:hover {
      color: $yellow-700;
    }
  }

  &__text {
    margin-left: 25px;
  }

  a {
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    margin-block-end: 10px;
  }
}

.menu {
  z-index: 1001;
  position: fixed;
  font-size: 60px;
  top: 0;
  right: 30px;
  color: $yellow-900;
  cursor: pointer;

  &:hover {
    color: $yellow-700;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 90px;
  background: $gray-500;
  color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;

  &--show {
    animation: header-show-animation 0.5s;
    opacity: 1;
  }

  &--hide {
    animation: header-hide-animation 0.5s;
    opacity: 0;
  }

  @keyframes header-show-animation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes header-hide-animation {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  &__content {
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &__logo {
    height: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .close-drawer {
    height: 60px;
    &__button {
      padding-top: 0;
    }
  }
  .menu {
    font-size: 40px;
    right: 20px;
  }

  .header {
    height: 60px;

    &__logo {
      height: 40px;
    }
  }
}
