@import "../../../styles/variables.scss";
@import "../../../styles/h3-base-styles";

.try-our-products {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 80vh;

  &--show {
    animation: about-show-animation 0.5s;
    opacity: 1;
    transform: translateY(rem(0));
  }

  &--hide {
    animation: about-hide-animation 0.5s;
    opacity: 0;
    transform: translateY(30px);
  }

  @keyframes about-show-animation {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(rem(0));
    }
  }

  @keyframes about-hide-animation {
    from {
      opacity: 1;
      transform: translateY(rem(0));
    }

    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  &__title {
    @include h3-base-styles;
    background-color: $blue-900;
    color: $new-yellow-900;
  }

  &__article-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  @media only screen and (max-width: 1100px) {
    margin-top: 40px;
    &__article-container {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 800px) {
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}
